@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Dosis:wght@200&family=Indie+Flower&family=Single+Day&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  color: #363636;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
